<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/cadastrar.css}">
    <title>Cadastro</title>
</head>
<body>
    <div class="container">
        <h1>Cadastro </h1>
        <form method="POST" action="/login/novoUsuario">
            <input type="text" id="usuario" name="usuario" required placeholder="Usuário">
            <input type="password" id="senha" name="senha" required placeholder="Senha">
            <input type="password" id="txtCheckPwd" name="confirmaSenha" required placeholder="Confirmar Senha">

            <button type="submit" id="btnCadastrar">Cadastrar</button>
            <button type="reset">Limpar</button>
        </form>

        <!-- Mensagens de erro ou sucesso -->
        <p th:if="${mensagem}" th:text="${mensagem}" class="mensagem" role="alert"></p>
     

        <p><a href="/" class="signup-link">Já possui uma conta? Faça login</a></p>
    </div>
</body>
</html>
